/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-piecal-event-info {
}

.piecal-gb-checkbox-group, .piecal-gb-checkbox-group fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.piecal-gb-checkbox-group legend {
    margin-bottom: 0.5rem;
}

.piecal-gb-checkbox-group :is(.components-base-control, .components-base-control__field) {
    margin-bottom: 0;
}

.piecal-external-calendar-links {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.piecal-external-calendar-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.85rem;
    gap: 0.5rem
}

.piecal-external-calendar-links > .piecal-external-calendar-links__label {
    width: 100%;
    font-weight: bold;
}
